<%= simple_form_for(vehicle) do |f| %>
    <% if vehicle.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>
    <ul>
    <% vehicle.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    </div>
    <% end %>
    
   
  </div>
    <div class="row">
        <div class="form-group">

        <div class="col-md-6">
        <%= f.input :name, label: "Name" %>
        </div>
        <div class="col-md-6">
        <%= f.input :status, label: "Status" %>
        </div>
         </div>
</div>
    <div class="row">
        <div class="form-group">

        <div class="col-md-6">
        <%= f.input :vehicle_class, label: "Vehicle Class" %>
        </div>
            
        <div class="col-md-6">
        <%= f.input :brand, label: "Brand" %>
        </div>
            </div>
          </div>

    <div class="row">
     
    <div class="form-group">

    <div class="col-md-6">
        <%= f.input :model, label: "Model" %>
        </div>
    <div class="col-md-6">
        <%= f.input :model_year, label: "Model Year" %>
        </div>
          </div>
         </div>


    <div class="row">
            <div class="form-group">

      <div class="col-md-6">
        <%= f.input :fuel_type, label: "Fuel Type" %>
        </div>
    <div class="col-md-6">
        <%= f.input :fuel_capacity, label: "Fuel Capacity" %>
        </div>
        </div>
      </div>

    <div class="row">
       <div class="form-group">

    <div class="col-md-6">
        <%= f.input :code, label: "Code" %>
    </div>
           <div class="col-md-6">
           <%= f.input :purchase_date, label: "Purchase Date" %>
        </div>
            </div>
            </div>
                 
    
              
 
    <div class="actions">
    <%= f.submit %>
        </div>
        
  


    <% end %>
    