<p id="notice"><%= notice %></p>
<h4><i class="fa fa-truck fa-3x"></i> <%= @vehicle.code %></h4>
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Name</th>
      <td><%= @vehicle.name %></td>
            <th>status</th>
      <td><%= @vehicle.status %></td>
     </tr> 
 <tr> 
      <th>Vehicle Class</th>
      <td><%= @vehicle.vehicle_class %></td>
      <th>Brand</th>
      <td><%= @vehicle.brand %></td>
      </tr>
      <tr>
      <th>Model</th>
      <td><%= @vehicle.model %></td>
             <th>Model Year</th>
      <td><%= @vehicle.model_year %></td>
      </tr>
      <tr>
       <th>Fuel type</th>
      <td><%= @vehicle.fuel_type %></td>
      <th>Fuel Capacity</th>
      <td><%= @vehicle.fuel_capacity %></td>
     
      <th>Purchase Date</th>
      <td><%= @vehicle.purchase_date %></td>
      <th></th>
      <td></td>
    </tr>
  </thead>
</table>
<p>
<h5>created by nimbo</h5>
  <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
  <%= link_to 'Back', vehicles_path %>
</p>
